@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@600&family=Old+Standard+TT:ital@1&display=swap');

header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: lightpink;
    background: linear-gradient(45deg, #9279a3, #9d77b6, #af7299,  #FF80AA, #FF7485, #e27070, #FF334C, #da0921);
}

header h1 {
    font-size:1000%;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-shadow: 20px #bdbcbc;
}

header p.one{
    font-size: 260%;
    font-family: "Amatic SC", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #fff;
}

header p{
    font-size: 190%;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
    color: #fff;
}