@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@600&family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inconsolata:wdth,wght@98.3,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
  --cor-primaria: #44145a;
  --cor-secundaria: #ece8ee;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: smooth;
}
* {
  box-sizing: border-box;
}

body{
    margin: 0;
    user-select:none;
    text-align: center;
    text-indent: 25px;
}

header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url("imgs/banner.png");
    background-size: cover;
  } 

header button.denuncia{
    border: none;
    width: 10%;
    height: 5%;
    font-size: 150%;
    color:#623E2A;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    margin: none;
}

header button.denuncia:hover{
    color:#915332;
    background-color:#cfc9c9;
    cursor:pointer;
    transition: ease-in-out .5s;
}

header.logo{
  width: 50%;
  align-items: center;
  margin-left: 10%;
}

.logonav{
  width: 8%;
  margin-right: 40%;
  padding: 1%
}

nav {
    position: fixed;
    background-color:var(--cor-primaria);
    padding: 5px;
    width: 100%;
    z-index: 1;
    font-size: 1.5rem; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 10;
    height: 10vh;
  }

  nav :is(ul, li) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  
  nav ul li {
    padding: .5em;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

  nav > ul{
    margin-left: 20px;
  }
  
  nav a {
    color: rgb(253, 252, 252);
    text-decoration: none;
  }
  
  nav a:active {
    color: pink;
  }
  
  nav > ul > li {
    position: relative;
  }
  
  nav > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(226, 216, 216);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    font-size: 1.2rem;
    border: 1.5px solid;
  }
  
  nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  
  nav > ul > li > ul > li {
    display: block;
  }
  
  nav > .logo {
    height: 5rem;
    margin: .5%;
  }

  nav li a:hover{
    color: rgb(240, 190, 53);
  }


  section.sec4{
    display: flex;
    justify-content: center;
    background-image: url("imgs/mulheresfelizes (1).png");
    background-size: cover;
  }
  
  form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #e9cec5;
    max-width: 100%;
    margin: 5%;
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 2%;
  }

form.meu_form {
  margin: 10px;
}
.sec4 h2{
  margin: 5px 5px 30px 5px;
}


input, textarea {
    padding: 5% 20%;
    color: black;
    margin-top: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    font-family: "Crimson Text", serif;
    cursor: text;
}

input.EnviarMensagem {
    box-sizing: border-box;
    background-color: #b385b9;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
    cursor: pointer;
}

textarea {
    height: 5%;
    line-height: 20px;
    max-width: 400px;
    cursor: text;
    overflow: hidden;
    flex-grow: 1;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}


body h2 {
  font-size:350%;
  font-family: "Roboto Mono", monospace;
  color: rgb(255, 255, 255); 
  text-shadow: #523e3e 2px 3.5px 2px;
  line-height: 1.2px;
  margin: 5%;
  text-align: center;
  text-transform: uppercase;
}

body section p{
  color: var(--cor-secundaria);
  font-family: "Quicksand", sans-serif;
}

body section.sec1 {
  margin: 0;
  background: var(--cor-primaria);
  padding: 2% 5% 5% 5%;
}
body section.sec2 {
  margin: 0;
  background: #651f9e;
  padding: 2% 5% 5% 5%;
}
body section.sec3 {
  margin: 0;
  background: #7220b4;
  padding: 2% 5% 5% 5%;
}

main {
  display: flex;
  flex-direction: column;
}

.seccenter{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.slider{
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;

}

.navigation-auto{
  position: absolute;
  bottom: 20px;

  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.navigation-auto div{
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

.navigation-bar{
  position: absolute;
  bottom: 20px;

  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.inpsec3{
  display: none;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #fff;
  transition: 0.4s;
}

.slides{
  display: flex;
  width: 400%;
  height: 90%;
}

.slide{
  width: 25%;
  transition: 0.5s;
}


.slide img{
  width: 100%;
  height: 100%;;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
}

.test{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display:flex;
}

.card{
  height: 500px;
  margin: 50px;
  box-shadow: 5px 5px 19px #00000033;
  overflow: hidden;
  padding: 20px;
}

.profile{
  margin-left: 17%;
  --s: 304px;
  border-radius: 50%;
  overflow: hidden;
  height: var(--s);
  width: var(--s);
  object-fit: cover;
  display: flex;
}

.card:hover {
  background-color: var(--cor-primaria);
  transition: .5s ease-in-out;
}


