@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@600&family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inconsolata:wdth,wght@98.3,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
  --cor-primaria: #44145a;
  --cor-secundaria: #ece8ee;
  --cor-terciaria: #ae91bb;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--cor-terciaria);
}

.container{
    width: 100%;
    box-sizing: border-box;
 

}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
  
}

.logo{
  width: 6%;
  cursor: pointer;
  margin-left: 3%;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
  margin-right: 8%;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem; 
  margin-left: 1em;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
  }
  
  .col{
    flex-basis: 50%;
  }
  
  h1{
    margin-left: 10%;
    font-family: "Roboto Mono", monospace;
    color: var(--cor-secundaria);
    text-shadow: 0 0 5px #7a7a7a;
    font-size: 100px;
    text-transform: uppercase;
  }
  
  p{
    margin-left: 10%;
    font-family: "Quicksand", sans-serif;
    color: var(--cor-secundaria);
    text-shadow: 0 0 5px #7a7a7a;
    font-size: 1rem; 
    line-height: 15px;
    font-weight: 500;
  }/*cuzinho bicudo*/


.card1{
  padding: 10%;
  margin: 60%;
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(imgs/livro.png);
  background-position: center;
  background-size: cover;
}

.card2{
  margin: 60% 90%;
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(imgs/serie.png);
  background-position: center;
  background-size: cover;
}


.card3{
  margin-left: 60%;
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(imgs/filme.png);
  background-position: center;
  background-size: cover;
}

.card4{
  margin-left: 90%;
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(imgs/recados.png);
  background-position: center;
  background-size: cover;
}

.card1, .card2, .card3, .card4{
  box-shadow: rgba(42, 44, 46, 0.432) 0px 8px 24px;
  border: 2px solid var(--cor-secundaria);
  padding: 10%;
  transition: transform 0.5s;
}

.cards{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}


.card1:hover, .card2:hover, .card3:hover, .card4:hover{
  transform: translateY(-10px);
}

h5{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #999;
}

.cards p{
  color: #ffffff;
  text-shadow: 0 0 15px #000;
  font-size: 10px;
}